*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*~
.DS_Store
.cache
.project
.idea
.settings
.svn
errors.err
nbproject
*.local.php
*.local
*.tmp
*.local.rb
app/tmp/*
app/tmp/logs/*
app/tmp/sessions/*
app/tmp/tests/*
app/tmp/cache/models/*
app/tmp/cache/persistent/*
app/tmp/cache/views/*
app/tmp/cache/sessions/*
app/tmp/cache/*
app/webroot/optimized/*
app/webroot/media
app/webroot/media_legacy
app/cs-attachments
app/webroot/files/surveys
app/webroot/files/stormpost
app/webroot/theme/legacy
